<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="js/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div id="workspace-calendar" class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="workspace-items" class="container"></div>

                    <table>
                        <thead>
                            <tr>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>-->

        <script src="js/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="js/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="js/bower_components/underscore/underscore-min.js"></script>
        <script src="js/bower_components/backbone/backbone-min.js"></script>
        <script src="js/bower_components/moment/min/moment.min.js"></script>
        <script src="js/bower_components/marked/marked.min.js"></script>

        <script src="js/app.js?v=0.1"></script>

        <script type="text/template" id="github-calendar-template">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <% _.each(titles, function(title) { %>
                            <th><%= title %></th>
                        <% }); %>
                    </tr>
                </thead>
                <tbody>
                    <% _.each(entries, function(entry) { %>
                        <tr>
                            <td><%= entry.milestone %></td>

                            <% _.each(entry.data, function(data) { %>
                                <td><%= data[0].attributes.title %></td>
                            <% }); %>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </script>
    </body>
</html>
