<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div id="workspace" class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul id="main-nav" class="nav nav-tabs">
                        <li role="presentation" class="main-nav col-lg-6">
                            <a id="week-view" href="#" data-label="default" class="active">Week</a>
                        </li>
                        <li role="presentation" class="main-nav col-lg-6">
                            <a id="label-view" href="#" data-label="default" class="">Duties</a>
                        </li>
                    </ul>

                    <div id="workspace-items" class="container"></div>
                </div>
            </div>
        </div>



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
        <script src="js/app.js"></script>

        <script type="text/template" id="github-issues-template">
            <ul id="issues-nav" class="nav nav-tabs">
               <li role="presentation" class="issues-nav">
                   <a href="#" data-label="default" class="active">Overall</a>
                   <% _.each(labels, function(label) { %>
                        <li role="presentation" class="issues-nav">
                            <a data-label="<%= label.name %>" href="#"><%= label.name %></a>
                        </li>
                   <% }); %>
               </li>
           </ul>

            <ul class="list-group">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Due on</th>
                            <th>Photo</th>
                            <th>Comments</th>
                            <th>View Comments</th>
                            <th>View In Github</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% _.each(issues, function(issue) { %>
                            <tr>
                                <td><%= issue.title %></td>
                                <td><%= moment(issue.milestone.due_on).format('LL') %></td>
                                <td>
                                    <% if (issue.assignee) { %>
                                        <img src="<%= issue.assignee.avatar_url %>" alt="" height="50px;">
                                    <% } %>
                                </td>
                                <td><%= issue.comments %></td>
                                <td>
                                    <% if (issue.comments !== 0) { %>
                                        <a href="#"
                                            class="btn btn-primary btn-sm view-issue"
                                            role="button"
                                            data-comments-url="<%= issue.comments_url %>">View</a>
                                    <% } %>
                                </td>
                                <td>
                                    <a href="<%= issue.html_url %>"
                                        class="btn btn-primary btn-sm"
                                        role="button"
                                        target="_blank">In Github</a>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>

            </ul>
        </script>

        <script type="text/template" id="github-milestones-template">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= milestone %></h3>
                </div>
                <div class="panel-body">
                    <% _.each(data, function(data_value, dk) { %>
                        <div class="col-lg-4">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><%= dk %></h4>
                                </div>

                                <div class="panel-body">
                                    <% _.each(data_value, function(issues_value, dk) { %>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <%= issues_value.attributes.title %>
                                            </div>

                                            <div class="col-lg-6">
                                                <img src="<%= issues_value.attributes.assignee.avatar_url %>" alt="" height="50px;">
                                            </div>
                                        </div>
                                    <% }); %>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        </script>

        <script type="text/template" id="github-issue-comments-template">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Issue Title</th>
                        <th>Comment</th>
                        <th>Created at</th>
                        <th>Created By</th>
                        <th>View on Github</th>
                    </tr>
                </thead>
                <tbody>
                    <% _.each(comments, function(comment) { %>
                        <tr>
                            <td><%= comment.issue_title %></td>
                            <td><%= comment.body %></td>
                            <td><%= moment(comment.created_at).fromNow() %></td>
                            <td><%= comment.user.login %></td>
                            <td>
                                <a href="<%= comment.html_url %>"
                                    class="btn btn-primary btn-sm"
                                    role="button"
                                    target="_blank">View On Github</a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </script>
    </body>
</html>
